mixin sEvents(data)
	// start sEvents
	+b.SECTION.sEvents.section&attributes(attributes)
		.container
			+e.title-row.row.gy-3
				.col
					+b.section-title
						h2 Мероприятия корпуса
				.col-auto
					+e.btn(href="#") Все мероприятия
			+e.nav-row.row
				.col-sm-6.col-md-4.col-xl-auto
					+input('Все', 'select')
				.col-sm-6.col-md-4.col-xl-auto
					+input('Выберите город', 'select')(class="disabled")
				.col-sm-6.col-md-4.col-xl-auto
					+input('Даты проведения', 'text').input-date-picker-js(autocomplete="off")
				//-.col-12.d-xl-none.m-0
				.col-auto.col-sm-6.col-md-auto.ms-xl-auto
					+sEventsChb('ЧС', 'red')
				.col-auto.col-sm-6.col-md-auto
					+sEventsChb('Регистрация открыта', 'blue')
			+e.slide-wrap
				.swiper.sEvents-slider-js
					.swiper-wrapper
						-for(let i =0; i < 2; i++)
							+sEventsSlide({
								tagBlue: true,
								imgNum: 1,
								title: 'Добровольцы ресурсного центра ЧС организовали демонстрационную точку',
							})
							+sEventsSlide({
								tagRed: true,
								imgNum: 1,
								title: 'Добровольцы оказывают помощь в реализации проекта "Первая помощь: от Мала до Велика"',
							})
							+sEventsSlide({
								tagBlue: true,
								imgNum: 1,
								title: 'Тренировка поисково-спасательных собак',
							})
	// end sEvents

mixin sEvents2(data)
	// start sEvents
	+b.SECTION.sEvents.section&attributes(attributes)
		.container
			+e.title-row.row.gy-3
				.col
					+b.section-title
						h2 Мероприятия корпуса
				.col-auto
					+e.btn(href="#") Все мероприятия
			+e.nav-row.row
				.col-sm-6.col-md-4.col-xl-auto
					+input('Город', 'select')
				.col-sm-6.col-md-4.col-xl-auto
					+input('Новосибирск', 'select')(class="disabled")
				.col-sm-6.col-md-4.col-xl-auto
					+input('Даты проведения', 'text').input-date-picker-js(autocomplete="off")
				//-.col-12.d-xl-none.m-0
				.col-auto.col-sm-6.col-md-auto.ms-xl-auto
					+sEventsChb('ЧС', 'red')
				.col-auto.col-sm-6.col-md-auto
					+sEventsChb('Регистрация открыта', 'blue')
			+e.empty
				+e.e-img
					img(loading="lazy" src="img/svg/calendar.svg" alt="")
				+e.e-txt.text-center К сожалению на эти даты нет запланированных мероприятий. Выберите другие даты или увеличьте географию фильтра

mixin sEventsSlide(data)
	.swiper-slide
		+e.card
			if data.tagBlue
				+e.tag--blue Регистрация открыта
			if data.tagRed
				+e.tag--blue Регистрация закрыта
			+e.c-img(href="#")
				img(loading="lazy" src=`img/@2x/sEventsSlide-${data.imgNum}.png` alt="")
			+e.txt-box
				+e.c-title(href="#")=data.title
				+e.c-date 19 августа, с 18:00 до 20:00
				+e.c-location Республика Удмуртия



//- mixin sEventsChb(txt, addClasses='')
//- 	+b.LABEL.btn-chb(class=addClasses)
//- 		input(type="checkbox" class='invisible' name=txt)&attributes(attributes)
//- 		span.bar
//- 		span.txt=txt

mixin sEvents-region(data)
	// start sEvents-region
	+b.SECTION.sEvents--region.section&attributes(attributes)
		.container
			+e.title-row.row
				.col
					+b.section-title
						h2 Мероприятия региона
				.col-sm-auto
					+e.btn(href="#") Все мероприятия региона
			+e.slide-wrap
				.swiper.sEvents-slider--js
					.swiper-wrapper
						-for(let i =0; i < 2; i++)
							+sEventsSlide({
								tagBlue: true,
								imgNum: 1,
								title: 'Добровольцы ресурсного центра ЧС организовали демонстрационную точку',
							})
							+sEventsSlide({
								tagRed: true,
								imgNum: 1,
								title: 'Добровольцы оказывают помощь в реализации проекта "Первая помощь: от Мала до Велика"',
							})
							+sEventsSlide({
								tagBlue: true,
								imgNum: 1,
								title: 'Тренировка поисково-спасательных собак',
							})
	// end sEvents-region