mixin sDetailedNews(data)
	// start sDetailedNews
	+b.SECTION.sDetailedNews.section#sDetailedNews&attributes(attributes)
		.container
			.row
				
					
				.col-12.col-lg-10
					+e.content
						
						h1 Главное управление сообщает о лесопожарной обстановке на территории Краснодарского края Президент Российской Федерации
						+pic(`detailed-news.jpg`,'', '')
						p Всероссийский студенческий корпус спасателей – одна из крупнейших студенческих добровольческих организаций в Российской Федерации. Образована в 2001 году. В состав ВСКС входит свыше 8000 добровольцев из 67 субъектов Российской Федерации. Все студенты-спасатели проходят специальную подготовку для оказания квалифицированной помощи специальным службам при возникновении
						p Образована в 2001 году. В состав ВСКС входит свыше 8000 добровольцев из 67 субъектов Российской Федерации. Все студенты-спасатели проходят специальную подготовку для оказания квалифицированной помощи специальным службам при возникновении...

	// end sDetailedNews