.modal-win {
	width: 100%;
	position: relative;
	max-width: rem(500);

	.carousel__button.is-close{
		top: 0;
		color: $black;

		svg{
			//filter: none;
		}
	}
}

.modal-form {
	position: relative;
}

//?
//@include media-breakpoint-down(xs) {
//	.fancybox__container {
//		width: 100% !important;
//		min-height: 100%;
//		transform: none !important;
//	}
//}