mixin modal()
	//  start modals
	+b.modal-win(id="modal-login" style="display: none")
		+e.logo-wrap
			h2!=`Вход в&nbsp;личный кабинет`
			+pic('logo-white.png','',0)
		+e.form
			+form-wrap()
				p Введите данные которые вы указывали при регистрации
				+input('Sample@sample.com','text','E-mail')
				+input('******','password','Пароль')
				+e.btns-wrap
					+e.BUTTON.btn Войти
					a(href="#") Восстановить пароль
				+e.reg-link='Впервые на сайте? '
					a(href="#") Зарегистрируйтесь!
	// #modal-login
	+b.modal-win--reg(id="modal-reg" style="display: none")
		+e.head-wrap
			h2 Регистрация
			+e.head-login="Есть аккаунт? "
				a(href="#") Войти
		+form-wrap()
			.row
				.col-md-6.col-12
					+input('Иванов','text','Фамилия')
					+input('Иван','text','Имя')
					+input('Sample@sample.com','text','E-mail')
					+input('+7(999)000-00-00','tel','Телефон')
					+input('******','password','Пароль')
				.col-md-6.col-12
					+e.LABEL.input-title Фото профиля
					.load-photo
						input.filepond(type='file' name='filepond' accept='image/png, image/jpeg, image/gif')
			.row.align-items-md-end
				.col-md-6.col-12
					+e.btn-reg(href="#") Зарегистрироваться
				.col-md-6.col-12
					+e.accept!='Регистрируясь, вы соглашаетесь с '
						a(href="#") правилами пользования сайтом
						span!=' и даёте согласие на '
						a(href="#") обработку персональных данных.

	// #modal-reg-event
	+b.modal-win--reg-event(id="modal-reg-event" style="display: none")
		+e.heading
			h3 Добровольцы оказывают помощь в&nbsp;реализации проекта &laquo;Первая помощь: от&nbsp;Мала до&nbsp;Велика&raquo;
			.date-n-location
				p 19&nbsp;августа&nbsp;&mdash; 21&nbsp;августа
				p.loc Республика Удмуртия
		+form-wrap()
			h2 Регистрация на&nbsp;мероприятие
			+input('45456489749','text','Номер членского билета ВСКС')
			+input('Викторовский','text','Фамилия')
			+input('Олег','text','Имя')
			+input('Викторович','text','Отчество')
			+input('ДД.ММ.ГГГГ','text','Дата рождения').input-date-picker-js(autocomplete="off")
			+input('__ __ ___ ___','text','Серия и номер паспорта')
			+input('Введите','text','Регион')
			+input('Введите','text','Город')
			+input('+_(___)___-__-__','tel','Телефон')
			+input('Sample@sample.com','text','E-mail')
			+input('Введите','text','Учебное заведение')
			+e.btn-reg(href="#") Зарегистрироваться
		
		// #modal-restore-pass
		+b.modal-win--restore-pass(id="modal-restore-pass" style="display: none")
			+e.logo-wrap
				h2 Восстановить пароль
				+pic('logo-white.png','',0)
			+e.form
				+form-wrap()
					p Введите данные которые вы указывали при регистрации
					+input('Sample@sample.com','text','E-mail')
					+e.btns-wrap
						+e.btn(href="#") Продолжить

	// end modals