mixin modal()
	//  start modals
	+b.modal-win(id="modal-login" style="display: none")
		+e.logo-wrap
			h2!=`Вход в&nbsp;личный кабинет`
			+pic('logo-white.png','',0)
		+e.form
			+form-wrap()
				p Введите данные которые вы указывали при регистрации
				+input('Sample@sample.com','text','E-mail')
				+input('******','password','Пароль')
				+e.btns-wrap
					+e.btn Войти
					a(href="#") Восстановить пароль
				+e.reg-link='Впервые на сайте? '
					a(href="#") Зарегистрируйтесь!
	// #modal-login
	+b.modal-win--reg(id="modal-reg" style="display: none")
		+e.head-wrap
			h2 Регистрация
			+e.head-login="Есть аккаунт? "
				a(href="#") Войти
		+form-wrap()
			.row
				.col-md-6.col-12
					+input('Иванов','text','Фамилия')
					+input('Иван','text','Имя')
					+input('Sample@sample.com','text','E-mail')
					+input('+7(999)000-00-00','tel','Телефон')
					+input('******','password','Пароль')
				.col-md-6.col-12
					+e.LABEL.input-title Фото профиля
					.load-photo
			.row.align-items-md-end
				.col-md-6.col-12
					+e.btn-reg(href="#") Зарегистрироваться
				.col-md-6.col-12
					+e.accept!='Регистрируясь, вы соглашаетесь с '
						a(href="#") правилами пользования сайтом
						span!=' и даёте согласие на '
						a(href="#") обработку персональных данных.
	// end modals