.modal-win {
	width: 100%;
	position: relative;
	max-width: 400px;
	@include media-breakpoint-up(md) {
		max-width: rem(664);
	}
	padding: 0;
	.carousel__button.is-close {
		top: 0;
		right: 0;
		// padding: rem(10);
		color: $black;
		width: rem(45);
		height: rem(45);
		svg {
			filter: none;
			stroke-width: unset;
			--carousel-button-svg-width: #{rem(22)};
			--carousel-button-svg-height: #{rem(22)};
			// --carousel-button-svg-width: #{rem(32)};
			// --carousel-button-svg-height: #{rem(32)};
		}
	}
	@include media-breakpoint-up(md) {
		flex-direction: row;
	}
	&__logo-wrap {
		padding-top: rem(28);
		padding-bottom: rem(28);
		padding-left: rem(37);
		padding-right: rem(37);
		background-color: $primary;
		text-align: center;
		// order: 1;
		margin-top: rem(45);
		@include media-breakpoint-up(md) {
			text-align: left;
			width: rem(312);
			margin-top: 0;
			// order: 0;
		}
		h2 {
			font-weight: 900;
			color: $white;
			font-size: rem(40);
			line-height: rem(44);
			margin-bottom: rem(20);
		}
		picture {
			text-align: center;
		}
	}
	&__form {
		padding-top: rem(39);
		padding-bottom: rem(44);
		padding-left: rem(40);
		padding-right: rem(40);
		@include media-breakpoint-up(md) {
			width: rem(352);
		}
		.form-wrap {
			p {
				line-height: 150%;
				margin-bottom: rem(23);
				color: black;
			}
			&__input-title {
				margin-bottom: rem(5);
				line-height: 150%;
				font-size: rem(13);
				color: black;
				display: inline-block;
			}
			&__input {
				border: 1px solid #009fe2;
				border-radius: $border-radius;
				margin-bottom: rem(15);
			}
			&__btns-wrap {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: rem(28);
				margin-bottom: rem(28);
				a {
					padding-left: rem(16);
					padding-right: rem(16);
					font-size: rem(13);
					line-height: 150%;
				}
			}
			&__btn {
				@extend .btn, .btn-warning;
				max-width: rem(81);
				font-size: rem(16);
			}
			&__reg-link {
				font-size: rem(13);
				line-height: 150%;
			}
		}
	}
	&--reg {
		padding-left: rem(40);
		padding-right: rem(40);
		padding-top: rem(38);
		padding-bottom: rem(38);
		// max-width: 400px;
		@include media-breakpoint-up(md) {
			flex-direction: column;
			padding-top: rem(28);
		}
		// @include media-breakpoint-up(md) {
		// 	max-width: rem(664);
		// }
		.form-wrap {
			&__input {
				margin-bottom: rem(16);
			}
			&__input-title {
				margin-bottom: rem(5);
				display: inline-block;
			}
			&__btn-reg {
				@extend .btn, .btn-warning;
				width: 100%;
			}
			&__accept {
				font-size: rem(12);
				line-height: 150%;
				a {
					color: black !important;
					border-bottom: 1px solid black;
				}
			}
		}
		h2 {
			color: black;
			font-size: rem(40);
			line-height: rem(44);
			font-weight: 900;
			// margin-bottom: rem(30);
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
		.row {
			--bs-gutter-x: #{rem(30)};
			@include media-breakpoint-down(md) {
				--bs-gutter-y: #{rem(16)};
			}
		}
	}
	&--reg-event {
		// @include media-breakpoint-down(md) {
		// 	max-width: 400px;
		// }
		.modal-win__heading {
			background-color: #238ece;
			color: $white;
			padding: rem(35);
			margin-top: rem(45);
			// padding: rem(55) rem(30) rem(30) rem(30);

			@include media-breakpoint-up(md) {
				width: 47%;
				padding: rem(35) rem(32);
				margin-top: 0;
			}
			@include media-breakpoint-up(xl) {
				padding: rem(40) rem(37);
			}
			h3 {
				margin-bottom: rem(23);
				@include media-breakpoint-down(md) {
					font-size: rem(26);
				}
			}
			.date-n-location {
				display: block;
				margin-bottom: 0;
				margin-top: 0;
				p {
					color: $white;
					margin-top: rem(16);
					&:first-of-type {
						font-size: rem(16);
						margin-right: rem(30);
						color: rgba($color: $white, $alpha: 0.5);
						@include media-breakpoint-up(md) {
							margin-right: 0;
						}
					}
				}
			}
		}
		.form-wrap {
			padding: rem(35) rem(35) rem(40) rem(35);
			@include media-breakpoint-up(md) {
				width: 53%;
				padding: rem(35);
			}
			@include media-breakpoint-up(xl) {
				padding: rem(40);
			}
			.form-wrap__input-wrap {
				margin-bottom: rem(12);
				margin-top: rem(12);
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(15);
					margin-top: rem(15);
				}
			}
			.form-wrap__input-title {
				display: inline-block;
				font-size: 13px;
				margin-bottom: 5px;
			}
			&__btn-reg {
				@extend .btn, .btn-warning;
				margin-top: rem(16);
				width: 100%;
				@include media-breakpoint-up(md) {
					margin-top: 0;
				}
			}
		}
	}
	&--restore-pass {
		// @include media-breakpoint-up(md) {
		// 	max-width: 700px;
		// }
		.modal-win__logo-wrap {
			@include media-breakpoint-up(md) {
				width: 49%;
				padding-bottom: rem(35);
			}
			h2 {
				font-size: rem(35);
				@include media-breakpoint-up(md) {
					font-size: rem(32);
				}
			}
		}
		.modal-win__form {
			@include media-breakpoint-up(md) {
				max-width: 51%;
			}
		}
		.form-wrap__btns-wrap {
			margin-bottom: 0;
		}
		.form-wrap__btn {
			max-width: 100%;
			width: 100%;
			font-size: rem(16) !important;
		}
	}
	&__head-wrap {
		display: flex;
		margin-bottom: rem(30);
		align-items: center;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
	}
	&__head-login {
		font-size: rem(13);
		line-height: 150%;
		padding-top: rem(12);
		@include media-breakpoint-up(md) {
			margin-left: rem(29);
		}
	}
	.load-photo {
		label{
			display: block;
		}
		.filepond--root{
			height: rem(299);
			background-color: $white;
			border-radius: $border-radius;
			border: 1px dashed #238ece;
			min-height: rem(299);

		}
		@include media-breakpoint-down(md) {
			margin-bottom: rem(32);
		}
		// overflow: hidden;
	}
	// &__input-title {
	// 	display: inline-block;
	// 	margin-bottom: rem(5);
	// }
}

.modal-form {
	position: relative;
}

//?
//@include media-breakpoint-down(xs) {
//	.fancybox__container {
//		width: 100% !important;
//		min-height: 100%;
//		transform: none !important;
//	}
//}
