mixin modal()
	//  start modals
	+b.modal-win(id="modal-login" style="display: none")
		+e.logo-wrap
			h2!=`Вход в&nbsp;личный кабинет`
			+pic('logo-white.png','',0)
		+e.form
			+form-wrap()
				p Введите данные которые вы указывали при регистрации
				+input('Sample@sample.com','text','E-mail')
				+input('******','password','Пароль')
				+e.btns-wrap
					+e.btn Войти
					a(href="#") Восстановить пароль
				+e.reg-link='Впервые на сайте? '
					a(href="#") Зарегистрируйтесь!
	// #modal-login
	
	// end modals