// start .sActivities
.sActivities {
	--sPT: 0;
	--sPB: #{rem(35)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: 0;
		--sPB: #{rem(45)};
	}
	&__btn {
		@extend .btn, .btn-outline-primary;
		width: rem(141);
		&:hover {
			color: $white;
		}
	}
	&__nav-row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: var(--bs-gutter-x);
		padding-bottom: var(--bs-gutter-x);
		@include media-breakpoint-down(sm) {
			--bs-gutter-x: #{rem(16)};
		}
	}
	&__input-wrap {
		label {
			width: 100%;
			span {
				display: inline-block;
				margin-bottom: rem(5);
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(7);
				}
			}
		}
	}

	&__input {
		// max-width: rem(500);
		@include media-breakpoint-up(xl) {
			min-width: rem(272);
		}
	}

	&__btn-row {
		--bs-gutter-x: #{rem(16)};
		--bs-gutter-y: var(--bs-gutter-x);
		@include media-breakpoint-down(sm) {
			--bs-gutter-x: #{rem(16)};
		}
	}
	&__filter {
		margin-bottom: rem(35);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
	}
	&__cards-heading {
		display: flex;
		@include roww(#{rem(47)}, m);
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30);
		}
		a {
			position: relative;
			font-weight: bold;
			font-size: rem(20);
			border-bottom: 1px solid transparent;
			&:not(.active) {
				color: $black;
				border-color: currentColor;
				&:hover {
					color: $link-hover-color;
				}
			}
			// &:first-of-type {
			// 	margin-right: rem(47);
			// }
		}
	}
	&__cards-content {
		margin-bottom: rem(27.5);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(37.5);
		}
	}
	&__item {
		background: $light-blue;
		border-radius: $border-radius;
		margin-bottom: rem(20);
		padding: 4vw;
		@include media-breakpoint-up(sm) {
			padding: 3vw;
		}
		@include media-breakpoint-up(md) {
			padding: 0;
			display: flex;
			// align-items: center;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(25);
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		& > a {
			--pos: 5%;
			// --pos: #{rem(20)};
			position: relative;
			display: block;
			span {
				position: absolute;
				top: rem(16);
				padding: rem(3) rem(8);
				font-weight: bold;
				font-size: rem(12);
				border-radius: $border-radius;
				z-index: 2;
				&:nth-child(1) {
					color: var(--color, #009fe2);
					background-color: var(--bg-color, rgba(0, 0, 0, 0.8));
					left: var(--pos);
				}
				&:nth-child(2) {
					color: var(--color, #ffffff);
					background-color: var(--bg-color, #238ece);
					right: var(--pos);
				}
			}
		}
		picture {
			@include block(376, 207);
			// height: 100%;
			border-radius: $border-radius;
			overflow: hidden;
			// height: auto;
			flex: 0 0 auto;
			z-index: 1;
			@include media-breakpoint-up(md) {
				width: rem(330);
			}
			@include media-breakpoint-up(lg) {
				width: rem(376);
			}
			img {
				position: absolute;
				left: 0;
				top: 0;
				// border-radius: $border-radius;
			}
		}
	}
	&__caption {
		display: flex;
		flex-direction: column;
		padding-top: rem(20);
		width: 100%;
		@include media-breakpoint-up(md) {
			padding: rem(20) rem(25);
		}
		@include media-breakpoint-up(xl) {
			padding: rem(20) rem(40);
		}
		a {
			display: block;
			flex-grow: 1;
			margin-bottom: 1rem;
			p {
				@extend .h4;
				line-height: 150%;
				margin-bottom: 0.2rem;
				@include media-breakpoint-up(xl) {
					max-width: 32.2em;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
			&:not(:hover) {
				color: $black;
			}
		}
		.date-n-location {
			flex-direction: column;
			margin-bottom: 0;
			p {
				color: $black;
				&:first-of-type {
					margin-right: 0;
				}
			}
		}
	}
	&__points {
		margin-bottom: rem(8);
		font-size: rem(13);
		color: rgba($color: #000000, $alpha: 0.5);
		span {
			font-weight: bold;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sActivities
