.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	background-repeat: no-repeat;
	opacity: 0;
	// opacity: 0.7;
}

body,
html {
	font-size: var(--bs-body-font-size);
}
html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active {
		.header {
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px;
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden;

	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper {
	//-padding-top: var(--header-h, 0px);
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-width: 0;
	min-height: 100vh;
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	padding-bottom: var(--sTPB);
	& > *:last-child {
		margin-bottom: 0;
	}
}

//-
h2 {
	@include media-breakpoint-up(xxl) {
		line-height: calc(37 / 32);
	}
}

.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-100 {
	font-weight: 100;
}
.fw-200 {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-900 {
	font-weight: 900;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}

.image-source-link {
	color: #98c3d1;
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.tabs__btn-accordion {
	// display: none;
	width: 100%;
}

//later
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {
		}
	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}

.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.control-wrap {
	position: relative;
}

.swiper-button-hand-prev,
.swiper-button-hand-next {
}
.swiper-button-hand-prev {
}
.swiper-button-hand-next {
}

.swiper-pagination {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	&-bullet {
		@include mt;
		opacity: 1;
		outline: none !important;

		width: rem(8);
		height: rem(8);
		border-radius: 0;
		background-color: #e6e6e6;
		margin-left: rem(8);
		padding-right: rem(8);

		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary);
		}
	}
}

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

picture {
	display: block;
	img {
		@extend .res-i;
	}
}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}

a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;
}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }

//later
.custom-scroll {
	scrollbar-color: var(--bs-primary) transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary) transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block;
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;
	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary);
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}
}

//?
.input-date-picker-js,
::-webkit-calendar-picker-indicator {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>");
	background-position: calc(100% - 10px) 45%;
	background-repeat: no-repeat;
}

//accept ratio frame
.accept-ratio-frame {
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover {
		img {
			//filter: brightness(100%);
		}
	}

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.accept-ratio-frame-nh {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//
.btn-danger,
.btn-primary,
.btn-warning {
	color: $white !important;
}

.row {
	//--bs-gutter-x: #{rem(20)};
	//@include media-breakpoint-up(sm){
	//	--bs-gutter-x: #{rem(30)};
	//}
	//@include media-breakpoint-up(xl){
	//	--bs-gutter-x: #{$grid-gutter-width};
	//}
}

//-
.sw-arrows {
	&__row {
		--bs-gutter-x: 20px !important;
	}
	&__fract {
		font-size: rem(20);
		color: $black;
	}

	//-
	&__ {
	}
	&__ {
	}
}
.swiper-prev,
.swiper-next {
	@include mt();
	width: rem(32);
	height: rem(32);

	&:hover {
		transform: scale(1.1);
	}

	display: flex;
	align-items: center;
	justify-content: center;

	.icon {
		font-size: rem(32);
		color: transparent;
		stroke: $black;
	}
}
//
.form-select {
	&.disabled {
		pointer-events: none;
		opacity: 0.2;
	}
}

//remove later
.container {
	@include media-breakpoint-up(xxl) {
		padding-left: 25px;
	}
}

//-
.loc-txt {
	display: flex;
	align-items: center;

	&:before {
		content: "";
		width: rem(16);
		height: rem(16);
		margin-right: rem(8);

		background-image: url(../img/svg/location.svg);
	}
}

.main-wrapper {
	overflow: hidden;
}

@include media-breakpoint-down(sm) {
	.row {
		--bs-gutter-x: 30px;
	}
}

.filepond {
	&--credits {
		display: none;
	}
	&--browser {
		display: none;
	}
	&--drop-label {
		width: 100%;
		height: 100% !important;
		cursor: pointer;
		background-color: $white;
		align-items: unset;
		label {
			font-size: rem(16);
			line-height: 150%;
			text-align: center;
			color: $primary;
			cursor: pointer;
			max-width: rem(110);
			padding: 0 !important;
			margin-left: auto !important;
			margin-right: auto !important;
			margin-top: rem(160) !important;
		}
		&::before,
		&::after {
			content: "";
			height: 1px;
			width: rem(38);
			position: absolute;
			top: rem(100);
			left: 50%;
			transform: translateX(-50%);
			background-color: #7fcff0;
			z-index: 2;
		}
		&::after {
			transform: translateX(-50%) rotate(90deg);
		}
	}
	&--panel {
		&-root {
			background-color: $white !important;
		}
	}
}



.activity-details {
	.page-head {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: rem(625);
			left: 0;
			top: 0;
			background-color: #ECF8FF;
			z-index: -1;
		}
	}
}
