$default-font: "Arial";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff;


// If font from googlefont, next lines remove

 @include font-face ($default-font, $addr + "Arial/ArialMT", 400, $file-formats: $file-format);
 @include font-face ($default-font, $addr + "Arial/Arial-BoldMT", 700, $file-formats: $file-format);
 @include font-face ($default-font, $addr + "Arial/Arial-Black", 900, $file-formats: $file-format);

// font-weight helper:
// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold