@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:math.div(17,10)*1rem;
	width: math.div(26,17)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-chevron-left {
	font-size:math.div(34,10)*1rem;
	width: math.div(18,34)*1em;
}
.icon-chevron-right {
	font-size:math.div(34,10)*1rem;
	width: math.div(18,34)*1em;
}
.icon-exit {
	font-size:math.div(14,10)*1rem;
	width: math.div(16,14)*1em;
}
.icon-input-location-arrow {
	font-size:math.div(9,10)*1rem;
	width: math.div(14,9)*1em;
}
.icon-loc-point {
	font-size:math.div(14,10)*1rem;
	width: math.div(12,14)*1em;
}
