@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-chevron-left {
	font-size:math.div(34,10)*1rem;
	width: math.div(18,34)*1em;
}
.icon-chevron-right {
	font-size:math.div(34,10)*1rem;
	width: math.div(18,34)*1em;
}
