// start .sPromo
.sPromo {
	background: $light-blue;
	--sTPB: 0;

	--sPT: #{rem(40)};
	--sPB: #{rem(35)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(63)};
		--sPB: #{rem(40)};
	}

	&__box{
		background: $white;
		box-shadow: 0px 23px 38px rgba(0, 159, 226, 0.15);
		border-radius: 4px;

		margin-bottom: rem(86);
	}
	&__col{
		&--img{
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;

			order: 1;
			@include media-breakpoint-up(lg){
				width: 54.2% !important;
				order: 0;
			}
		}
		&--txt{
			padding: rem(32) rem(16);
			@include media-breakpoint-up(sm){
				padding: rem(40) rem(24);
			}
			@include media-breakpoint-up(lg){
				padding: rem(56) rem(32);
			}
		}
	}
	&__img{
		min-width: 100%;
		position: relative;

		@include media-breakpoint-up(lg){
			margin-top: rem(-37);
			margin-right: rem(-20);
		}

		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.section-title{
		h2{
			margin-bottom: rem(30);
			color: $blue;
		}
		p{
			margin-bottom: rem(40);
		}
		a{
			@extend .btn;
			@extend .btn-outline-primary;
		}
	}

	//lala
	&__pills-row{
		--bs-gutter-y: #{rem(30)};
		--bs-gutter-x: #{rem(16)};
	}
	&__sub-row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(35)};
	}
	&__p-img{
		width: rem(92);
		height: rem(92);
		margin: 0 auto;

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__p-txt{
		font-size: rem(20);
	}
	&__{}
	&__{}
} // end.sPromo