mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider-wrap.d-none.d-lg-block
				.swiper.headerBlock-slider-js.fract-siwper-js 
					.swiper-wrapper
						+headerBlockSlide()
						-for(let i=0; i < 4; i++)
							+headerBlockSlide(i)
					.d-none.d-lg-block
						+arrow2()
					.swiper-pagination
			+e.slider-wrap.d-lg-none
			
				.swiper.headerBlock-slider-mob-js.fract-siwper-js
					.swiper-wrapper
						+headerBlockSlide()
						-for(let i=0; i < 4; i++)
							+headerBlockSlide(i) 
					.swiper-pagination
	// end headerBlock

mixin headerBlockSlide(mod='')
	.swiper-slide 
		+e.img-box(href="#")
			img(loading="lazy" src="img/@2x/headerBlock-slide-1.png" alt="")
			+e.title=`Встреча молодых спасателей с руководителями корпуса в г. Оренбург${mod}`
			div.mt-auto
				+e.bot-row.row.align-items-center
					+e.col-date.col
						+e.date.text-white 19.06.2022
					.col-auto
						+e.btn.me-xl-1() Подробнее
					//- +e.btn(href="#") Подробнее
			//- +e.col--orange.col-11.col-lg
			//- 	+e.orange-box
			//- 		+e.txt
			//- 			p Встреча молодых спасателей с руководителями корпуса в г. Оренбург