mixin sTicketRequest(data)
	// start sTicketRequest
	+b.SECTION.sTicketRequest.section#sTicketRequest&attributes(attributes)
		.container
			+b.section-title
				h2 Вы сможете проходить специальное обучение, принимать участие в мероприятиях и спасательных операциях, а также молодежных форумах и соревнованиях
			block
			
	// end sTicketRequest