mixin sAboutDoc(data)
	// start sAboutDoc
	+b.SECTION.sAboutDoc.section#sAboutDoc&attributes(attributes)
		h2 Документы
		mixin acc-item(t)
			.accordion-item
				.accordion-button!=t 
				.accordion-collapse
					+document-item(`Федеральный закон №28-ФЗ "О гражданской обороне"`,`docx`,`Корпус принимает участие в единой государственной политике в области предупреждения и ликвидации ЧС, обусловленных авариями, катастрофами, стихийными и иными бедствиями; осуществляет гражданское и патриотическое воспитание молодежи России; оказывает содействие&nbsp;правительству в решении основных задач государственной молодежной политики.`)
					+document-item(`Приказ МЧС РФ от 23 декабря 2005 г. N 999 "Об утверждении Порядка создания нештатных аварийно-спасательных формирований"`,`docx`,`Корпус принимает участие в единой государственной политике в области предупреждения и ликвидации ЧС, обусловленных авариями, катастрофами, стихийными и иными бедствиями; осуществляет гражданское`)
		+acc-item(`Документы ВСКС`)
		+acc-item(`Указ Президента РФ`)
		+acc-item(`Постановление Правительства РФ`)
		+acc-item(`Основные законы РФ`)
		+acc-item(`Нормативно-правовые акты МЧС`)
		+acc-item(`Нормативно-правовые акты РОССОЮЗСПАС`)
		+acc-item(`Нормативно-правовые акты ФАДМ`)
	// end sAboutDoc