// start .sAboutDoc
.sAboutDoc {
	--sPT: 0;
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg){
		--sPB:#{rem(45)};
	}
	h2 {
		margin-bottom: rem(27);
	}
	.accordion-item {
		padding-top: rem(17);
		padding-bottom: rem(16);
		border-bottom: 1px solid #ecf8ff;
		.active{
			&::before{
				opacity: 0;
			}
		}
	}
	.accordion-button {
		font-weight: bold;
		font-size: rem(20);
		line-height: 150%;
		color: $primary;
		cursor: pointer;
		@extend a;
		position: relative;
		padding-right: 20px;
		&::after,
		&::before {
			@include mt;
			content: "";
			position: absolute;
			width: 16px;
			height: 1px;
			top: 50%;
			right: 0;
			background-color: $primary;
			transform: translateY(-50%);
		}
		&::before {
			transform: translateY(-50%) rotate(90deg);
			opacity: 1;
		}
		
	}
	.accordion-collapse {
		padding-top: rem(33);
		display: none;
	}
	.document-item {
		padding-left: rem(41);
		margin-bottom: rem(17);
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAboutDoc
