extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug


block variables
	- let  mainPage= '' 
	- let  bg="04-detailed-news.jpg"

block title
	- let  title= 'Модальные окна'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		//-+topLine()
	//- +headerBlock()
	.container.mt-5
		mixin btn(t,a)
			a.btn.btn-primary.m-2.link-modal-js(href=a  )= t
		+btn('Авторизация','#modal-login')
		+btn('Регистрация','#modal-reg')
		+btn('Редактирование профиля','#modal-edit-profile')
		+btn('Регистрация на мероприятие','#modal-reg-event')
		+btn('Восстановить пароль','#modal-restore-pass')
		+btn('Добавить билет','#modal-add-ticket')
		+btn('Отменить заявку','#modal-cancel')
		+btn('Активация ЛК','#modal-activation')
		+btn('Профиль участника','#modal-event-person')
	+footer()