extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sPressCenter/_sPressCenter.pug
block variables
	- let  mainPage= '' 
	- let  bg="02-press-center.jpg"

block title
	- let  title= 'СМИ о нас'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		//-+topLine()
	//- +headerBlock()
	+pageHead('Пресс-центр')
	+pageBody()
		+sPressCenterSmi()
	+footer()