extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPromo/_sPromo.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sStat/_sStat.pug
include ../blocks/sEvents/_sEvents.pug
include ../blocks/sBecome/_sBecome.pug
include ../blocks/sHero/_sHero.pug
include ../blocks/sPartners/_sPartners.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg="index-1.png"

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav('Main')
		//-+topLine()
	+headerBlock()
	+sNews()
	+sPromo()
	+sMap()
	+sStat()
	+sEvents()
	+sEvents2()
	+sBecome()
	+sHero()
	+sPartners()
	//+sForm()
	//+sContact()
	+footer()