mixin sTicket(data)
	// start sTicket
	+b.SECTION.sTicket.section#sTicket&attributes(attributes)
		.container
			+b.section-title
				h2 Номер электронного билета:
					span 4564893_НТ
		+e.card-wrapper.container
			+b.ticket-card
				+e.title
					img(loading="lazy" src="img/@2x/logo.png" alt="")
					h3 Всероссийский студенческий корпус спасателей
				+e.content.row
					.col
						ul
							li Имя / Name
							li Виктор
							li Фамилия / Surname
							li Victorovskiy
							li Дата рождения / Born
							li 18.08.1988
							li ID / идентификационный номер
							li 77MK/45889
					.col-auto
						+pic('sCabinetProfile.png','bg', '')
				+e.footer Moscow&gt;Region&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;77MK&gt;45889&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;
		.container
			+e.btn(href="#" download) Скачать билет в pdf



	// end sTicket