mixin sAboutOrgHistory(data)
	// start sAboutOrgHistory
	+b.SECTION.sAboutOrgHistory.section#sAboutOrgHistory&attributes(attributes)
		.container 
			h1 О ВСКС
			.row
				.col-lg-4.col-12
					ul
				.col-lg-8.col-12

	// end sAboutOrgHistory