mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				h2 Партнеры
			+e.row.row
				+sPartnersItem(1).bigger-col
				+sPartnersItem(2).bigger-col
				+sPartnersItem(3).bigger-col
				+sPartnersItem(4).bigger-col
				+sPartnersItem(4)
				+sPartnersItem(3)
				-for(let i = 0; i < 2; i++)
					+sPartnersItem(5)
					+sPartnersItem(6)
					+sPartnersItem(7)
					+sPartnersItem(8)
					+sPartnersItem(9)
					+sPartnersItem(10)

	// end sPartners

mixin sPartnersItem(imgNum)
	+e.col.col-4.col-sm-4.col-lg-2&attributes(attributes)
		+e.item
			+e.img(href="#")
				img(loading="lazy" src=`img/@2x/sPartners-${imgNum}.png` alt="")

//- mixin sPartnersItem(imgNum, name='Партнер', addClasses='col-xl-2')
//- 	+e.col.col-4.col-sm-4.col-lg-3(class=addClasses)
//- 		+e.item
//- 			+e.img(href="#")
//- 				img(loading="lazy" src=`img/@2x/sPartners-${imgNum}.png` alt="")
//- 			+e.name(href="#")=name