// start .sBecome
.sBecome {
	--sPT: #{rem(30)};
	--sPB: #{rem(35)};
	--sTPB: #{rem(16)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(53)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(24)};
	}
	.sBecome__sub-title,
	.section-title{
			@include media-breakpoint-down(sm){
				padding-left: 15px;
				padding-right: 15px;
			}
	}

	&__box{
		background: $orange;
		box-shadow: 0px rem(23) rem(38) rgba(220, 220, 220, 0.15);
		color: $white;
		border-radius: $border-radius;
	}
	&__row{

	}
	&__col{
		&--txt{

			position: relative;
			z-index: 2;

			padding: rem(32) rem(20);
			@include media-breakpoint-up(sm){
				padding: rem(40) rem(32);
			}
			@include media-breakpoint-up(lg){
				width: 52% !important;
			}
			@include media-breakpoint-up(xl){
				padding: rem(56) rem(64) rem(56);
			}
		}
		&--img{

		}
	}
	.section-title{

		h2{
			margin-bottom: rem(25);
		}
		p{
			font-size: rem(20);
			@include media-breakpoint-up(md){
				font-size: rem(26);
			}
			line-height: 1.1;
		}
	}
	&__sub-title{
		p{
			font-size: rem(17);
			@include media-breakpoint-up(md){
				font-size: rem(20);
			}
			margin-bottom: rem(30);
		}
		a{
			@extend .btn;
			@extend .btn-primary;

			font-size: rem(20);
			width: rem(312);
			max-width: 100%;
			padding: rem(12.5) rem(16);
		}
	}
	&__img{
		//width: 100%;
		display: flex;
		align-items: flex-end;
		@include media-breakpoint-up(lg){
			height: calc(100% + rem(65));
			margin-left: rem(-162);
			margin-top: rem(-65);
			margin-right: rem(32);
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__{}
} // end.sBecome