mixin sBecome(data)
	// start sBecome
	+b.SECTION.sBecome.section#sBecome&attributes(attributes)
		.container
			+e.box
				+e.row.row.gx-0
					+e.col--txt.col-lg-auto
						+b.section-title
							h2 Стань участником
							p Вступление в организацию дает расширенные возможности участникам
						+e.sub-title
							p Вы сможете проходить специальное обучение, принимать участие в мероприятиях и спасательных операциях, а также молодежных форумах и соревнованиях
							a(href="#") Подать заявку
					+e.col--img.col-lg
						+e.img
							img(loading="lazy" src="img/@2x/sBecome-img.png" alt="")
	// end sBecome