mixin sCabinetForm(data)
	// start sCabinetForm
	+b.SECTION.sCabinetForm.section#sCabinetForm&attributes(attributes)
		.container
			+b.section-title--back
				.row.align-items-start
					.col-auto
						+e.link-back(href="#")
							+icon('chevron-back')
					.col
						h2 Заявка на получение электронного билета 
			+form-wrap
				.row
					+e.col.col-lg-auto.col-xxl-auto.order-lg-last
						+e.LABEL.input-title Фото
						+b.load-photo-ticket--js
							input.filepond(type='file' name='filepond' accept='image/png, image/jpeg, image/gif')
							+e.requirements
								p Формат фотографии 3:4. Описание требования фотографии для билета в несколько строк
								p Lorem ipsum dolor sit amet consectetur adipisicing.
					.col.col-lg-8.col-xl-7.col-xxl-6
						+e.item
							h3 Личные данные
							.row
								.col-sm-6
									+input('Введите','text','Фамилия')
								.col-sm-6
									+input('Введите','text','Фамилия на английском')
								.col-sm-6
									+input('Введите','text','Имя')
								.col-sm-6
									+input('Введите','text','Имя на английском')
								.col-sm-6
									+input('Введите','text','Отчество')
								.col-sm-6
									+input('ДД.ММ.ГГГГ','text','Дата рождения').masked-date(autocomplete="off")
								.col-12
									+input('Введите','text','Учебное заведение')
								.col-12
									+input('Введите','text','Место рождения')
								.col-12
									+input('Введите','text','Место работы')

						+e.item
							h3 Паспортные данные
							.row
								.col-sm-6
									+input('__ __ ___ ___','text','Серия и номер паспорта')
								.col-sm-6
									+input('ДД.ММ.ГГГГ','text','Дата выдачи').masked-date(autocomplete="off")
								.col
									+input('Введите','text','Кем выдан')

						+e.item
							h3 Контакты
							.row
								.col-sm-6
									+input('Республика Удмуртия','select','Мой регион')
								.col-sm-6.d-none.d-sm-block
								.col-sm-6
									+input('__ __ ___ ___','email','E-mail')
								.col
									+input('+7 ___ ___ __ __','tel','Телефон')

						+e.item
							h3 Ссылки на аккаунты в социальных сетях
							.row
								// .row.mt-3.mt-sm-0 классы для строк 2-й и последующих соц. сетей
								.col-sm-6
									+input('VK', 'select', 'Соц. сеть')
								.col-sm-6
									+input('http://','url','Ссылка на профиль')
							+e.BUTTON.btn-soc + Добавить
						+e.btn-row.row
							.col-sm-6
								+e.BUTTON.btn Отправить
							.col-auto.col-sm-6
								+e.polite 
									+in-c()(checked)
										span Я согласен с условиями 
										a(href="#") Политики обработки персональных данных


	// end sCabinetForm


	
mixin sCabinetForm10(data)
	// start sCabinetForm
	+b.SECTION.sCabinetForm.section#sCabinetForm&attributes(attributes)
		script(src="libs/tinymce/tinymce.min.js") 
		script.
			tinymce.init({
				selector: 'textarea',  // change this value according to your HTML
				language: 'ru_RU',
				language_url: 'js/langs/ru_RU.js',
				images_upload_url: 'postAcceptor.php',
				images_upload_base_path: '/some/basepath',
				images_upload_credentials: true
			});
		.container
			+b.section-title--back
				.row.align-items-start
					.col-auto
						+e.link-back(href="#")
							+icon('chevron-back')
					.col
						h2 Новая новость
			+form-wrap
				.row.sCabinetForm__main-info-block
					+e.col.col-lg-auto.col-xxl-auto.order-lg-last
						.mb-4
							+e.LABEL.input-title Картинка для анонса новости
							+b.load-photo-ticket--js-2
								input.filepond(type='file' name='filepond' accept='image/png, image/jpeg, image/gif')
								+e.requirements
									p Размер изображения 238*176
						.mb-4
							+e.LABEL.input-title Подробная картинка новости
							+b.load-photo-ticket--js-3
								input.filepond(type='file' name='filepond' accept='image/png, image/jpeg, image/gif')
								+e.requirements
									p Размер изображения не более 1,5 mb
					.col.col-lg-8.col-xl-7.col-xxl-6.mb-5
						+e.item
							.row
								.col-12
									+input('Введите','text','Название')
								.col-sm-6
									+input('ДД.ММ.ГГГГ','text','Начало активности').input-date-picker-single-js
								.col-12
									+input('Введите','textarea','Описание для анонса')
								.col-12
									+input('Введите','textarea','Детальное описание')
				.sCabinetForm__select-wrap
					+input(`На доработку`,`select`,`Изменить статус новости`)
				.col-lg-6
					.sCabinetForm__textarea-wrap
						.form-wrap__input-wrap.form-group
							label
								span.form-wrap__input-title Комментарий
								textarea.form-wrap__input.form-control(name='textarea' placeholder='Введите' aria-hidden='true' style='display: none;')
				+e.btn-row.row.gx-2
					.col-auto
						button.btn.btn-outline-warning Отмена
					.col-auto
						button.btn.btn-primary Сохранить
					.col-auto
						button.btn.btn-warning Опубликовать
	// end sCabinetForm


	
mixin sCabinetForm11(data)
	// start sCabinetForm
	+b.SECTION.sCabinetForm.section#sCabinetForm&attributes(attributes)
		//- script(src="libs/tinymce/tinymce.min.js") 
		//- script.
		//- 	tinymce.init({
		//- 		selector: 'textarea',  // change this value according to your HTML
		//- 		language: 'ru_RU',
		//- 		language_url: 'js/langs/ru_RU.js',
		//- 		images_upload_url: 'postAcceptor.php',
		//- 		images_upload_base_path: '/some/basepath',
		//- 		images_upload_credentials: true
		//- 	});
		.container
			+b.section-title--back
				.row.align-items-start
					.col-auto
						+e.link-back(href="#")
							+icon('chevron-back')
					.col
						h2 Новое мероприятие
			+form-wrap
				.row
					+e.col.col-lg-auto.col-xxl-auto.order-lg-last
						.mb-4
							+e.LABEL.input-title Картинка для анонса мероприятия
							+b.load-photo-ticket--js-2
								input.filepond(type='file' name='filepond' accept='image/png, image/jpeg, image/gif')
								+e.requirements
									p Размер изображения 792 * 436
					.col.col-lg-8.col-xl-7.col-xxl-6.mb-5
						+e.item
							.row
								.col-12
									+input('Введите','text','Название')
								//- .col-sm-6
								//- 	+input('ДД.ММ.ГГГГ','text','Начало активности').input-date-picker-single-js
								.col-12
									+input('Введите','textarea','Описание для анонса')
								.col-sm-6
									+input('Выбрать','select','Регион')
								.col-12
								.col-sm-6
									+input('Выбрать','select','Тип мероприятия*')
								.col-12
									+in-c(`checkbox`,`Опубликовано`)
								.col-12
									+switch('Только для членов ВСКС')
								.col-12
									+switch('ЧС')
								.col-sm-6
									+input('Выбрать','select','Статус мероприятия*')
								.col-12
								.col-sm-6
									+input('Введите','text','Максимально баллов за участие')
								.col-sm-12
								.col-sm-6
									+input('ДД.ММ.ГГГГ','text','Дата начала').input-date-picker-single-js
								.col-sm-6
									+input('ДД.ММ.ГГГГ','text','Дата окончания').input-date-picker-single-js
								-
									var sw= [
											'Запрашивать имя в форме регистрации',
											'Запрашивать отчество в форме регистрации',
											'Запрашивать фимилию в форме регистрации',
											'Запрашивать пол в форме регистрации',
											'Запрашивать день рождения в форме регистрации',
											'Запрашивать Населенный пункт в форме регистрации',
											'Запрашивать адрес постоянной регистрации в форме регистрации',
											'Запрашивать регион в форме регистрации',
											'Запрашивать телефон в форме регистрации',
											'Запрашивать паспорт в форме регистрации',
											'Запрашивать номер членского билета в форме регистрации',
											'Запрашивать ВУ в форме регистрации',
											'Запрашивать email в форме регистрации',
											'Запрашивать образование в форме регистрации',
											'Запрашивать место образование в форме регистрации',
											'Запрашивать курсы в форме регистрации',
											'Запрашивать информацию курсы по оказанию первой помощи постоянной регистрации в форме регистрации',
											'Запрашивать информацию про аттестацию спасателя в форме регистрации',
											'Запрашивать ЧС в форме регистрации',
									]
								each linkName in sw
									.col-12
										+switch(linkName)
								//- 	+input('Введите','textarea','Описание для анонса')
						+e.btn-row.row.gx-2
							.col-auto
								button.btn.btn-outline-warning Отмена
							.col-auto
								button.btn.btn-primary Применить
							.col-auto
								button.btn.btn-warning Сохранить

	// end sCabinetForm


mixin sCabinetForm12(data)
	// start sCabinetForm
	+b.SECTION.sCabinetForm.section#sCabinetForm&attributes(attributes)
		.container
			+b.section-title--back
				.row.align-items-start
					.col-auto
						+e.link-back(href="#")
							+icon('chevron-back')
					.col
						h2 Участники
			+b.participants-table
				+e.info-wrap
					+e.count Всего заявок - 354
					+e.file(href="#")
						+icon(`file`)
						span Сформировать Excel
				+e.head
					+e.head-title--number #
						+icon(`arrow-up`)
					+e.head-title--participant Участник
						+icon(`arrow-up`)
					+e.head-title--status Статус заявки
						+icon(`arrow-up`)
				mixin item(number,name,status,statusClass)
					+e.item
						+e.name-wrap
							+e.number!=number
							+e.name
								+pic('participant-pic.jpg',``,0)
								+e.name-title(href="#")!=name
						+e.status-wrap
							+e.status(class=`--${statusClass}`)!=status
							+e.show-link(href="#") Посмотреть заявку
				+item(`1`,`Ольгина Виктория Семеновна`,`Получена`,`received`)
				+item(`2`,`Стоянов Кирилл Викторович`,`Подтверждена`,`confirmed`)
				+item(`3`,`Константинопольский Виниамин Кондратеевич`,`Отклонена`,`cancel`)
				+item(`4`,`Игоревский Анатолий Викторович`,`Одобрена`,`approved`)
				+item(`5`,`Викторовский Олег Викторович`,`Одобрена`,`approved`)
				+item(`6`,`Ольгина Виктория Семеновна`,`Получена`,`received`)
				+item(`7`,`Стоянов Кирилл Викторович`,`Подтверждена`,`confirmed`)
				+item(`8`,`Константинопольский Виниамин Кондратеевич`,`Отклонена`,`cancel`)
				+item(`9`,`Игоревский Анатолий Викторович`,`Одобрена`,`approved`)
				+item(`10`,`Викторовский Олег Викторович`,`Одобрена`,`approved`)
			+pugin

mixin sCabinetForm13(data)
	// start sCabinetForm
	+b.SECTION.sCabinetForm.section#sCabinetForm&attributes(attributes)
		.container
			+b.section-title--back
				.row.align-items-start
					.col-auto
						+e.link-back(href="#")
							+icon('chevron-back')
					.col
						h2 Заявка участника
			+b.participant-app
				+form-wrap
					.row
						.col-lg-3.col-md-6
							+input(`Введите`,`text`,`Фамилия`)
						.col-lg-3.col-md-6
							+input(`Введите`,`text`,`Имя`)
						.col-lg-3.col-md-6
							+input(`Введите`,`text`,`Отчество`)
					.row
						.col-lg-3.col-md-6
							+input(`Введите`,`text`,`Пол`)
						.col-lg-3.col-md-6
							+input(`Введите`,`text`,`Дата рождения`)
					.row
						.col-lg-3.col-md-6
							+input(`Введите`,`text`,`Номер ВУ`)
					.row
						.col-lg-3.col-md-6
							+input(`Выбрать`,`select`,`Статус заявки`)
					.row
						.col-lg-3
							.participant-app__btn-wrap
								.participant-app__cancel.btn.btn-outline-warning(href="#") Отмена
								.participant-app__save.btn.btn-warning(href="#") Сохранить