// start .sCabinetForm
.sCabinetForm {
	--sPT: #{rem(18)};
	--sPB: #{rem(55)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(20)};
		--sPB: #{rem(75)};
		--sTPB: #{rem(33)};
	}
	&__main-info-block {
		border-bottom: 1px solid #a1d8f6;
		margin-bottom: rem(16);
	}
	&__select-wrap {
		.form-wrap__input {
			@include media-breakpoint-up(sm) {
				max-width: rem(272);
			}
			font-weight: 400;
			color: $body-color;
		}
		margin-bottom: 16px;
	}
	&__textarea-wrap {
		.tox {
			display: none !important;
		}
		.form-wrap__input {
			display: block !important;
			min-height: rem(95);
		}
		margin-bottom: rem(16);
	}
	.form-wrap {
		&__btn-row {
			align-items: center;
			--bs-gutter-y: #{rem(16)};
			&.gx-2 {
				--bs-gutter-x: #{rem(16)} !important;
			}
			@include media-breakpoint-down(sm) {
			}
		}
		&__btn {
			@extend .btn, .btn-warning;
			width: 100%;
			@include media-breakpoint-down(sm) {
				max-width: 375px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&__polite {
			font-size: 12px;
			@include media-breakpoint-up(sm) {
				max-width: 19em;
			}
			.form-check {
				margin-bottom: 0;
				padding-left: 22px;
				.form-check-input {
					margin-left: -22px;
				}
			}
			a {
				&:not(:hover) {
					color: $black;
					text-decoration: underline;
				}
			}

			a {
				@media (max-width: 420px) {
					display: block;
				}
			}
		}
		&__btn-soc {
			@include mt;
			margin-top: rem(14);
			border: none;
			outline: none;
			background-color: $white;
			color: $primary;
			&:hover,
			&:focus,
			&:active {
				color: $link-hover-color;
			}
		}
		&__input-title {
			display: block;
			font-size: 13px;
			margin-bottom: 5px;
		}
		&__col {
			.form-wrap__input-title {
				@extend .h3;
				margin-bottom: rem(20);
				@include media-breakpoint-up(lg) {
					font-weight: normal;
					font-size: 13px !important;
					line-height: 150% !important;
					margin-bottom: 5px;
				}
			}
		}
		.row {
			--bs-gutter-x: #{rem(25)};
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(30)};
			}
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(40)};
			}
		}
		&__item {
			margin-bottom: rem(35);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(40);
			}

			&:last-of-type {
				margin-bottom: 0;
			}
			h3 {
				margin-bottom: rem(20);
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(24);
				}
			}
			.row {
				--bs-gutter-y: #{rem(16)};
			}
		}
		.load-photo-ticket {
			width: 272px;
			max-width: 272px;

			&__requirements {
				p {
					font-size: 12px;
					line-height: 150%;
					margin-bottom: 1em;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			label {
				display: block;
			}
			.filepond--root {
				height: 299px;
				min-height: 299px;
				background-color: $white;
				border-radius: $border-radius;
				border: 1px dashed $primary;
			}
			@include media-breakpoint-down(lg) {
				margin-bottom: rem(40);
			}
			.filepond--drop-label {
				label {
					max-width: 9em;
				}
			}
			// overflow: hidden;

			&--js-2 {
				width: 238px;
				max-width: 238px;
				.filepond--drop-label {
					min-height: 176px;
				}
			}

			&--js-3 {
				width: 376px;
				max-width: 376px;
				.filepond--drop-label {
					min-height: 207px;
				}
				.filepond--drop-label label {
					max-width: 100%;
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
	ul.page-numbers {
		@include media-breakpoint-down(sm) {
			justify-content: space-evenly;
			li {
				margin-right: 0;
			}
		}
	}
	.participants-table {
		margin-bottom: rem(32);
	}
} // end.sCabinetForm

.section-title--back {
	.row {
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: var(--bs-gutter-x);
		@include media-breakpoint-down(sm) {
			--bs-gutter-x: #{rem(20)};
		}
	}
	h2 {
		@extend .h1;
		font-weight: 900;
		line-height: calc(44 / 40);
		margin-bottom: 0;
	}
	.section-title__link-back {
		display: inline-block;
		padding: rem(3) rem(5);
		&:not(:hover) {
			color: $black;
		}
		margin: 0 rem(-5);
		@include media-breakpoint-up(sm) {
			padding: rem(6.5) rem(5);
		}
		@include media-breakpoint-up(md) {
			padding: rem(8.5) rem(5);
		}
		@include media-breakpoint-up(lg) {
			padding: rem(9.5) rem(5);
		}
		// @include media-breakpoint-up(xl) {
		// 	padding: rem(10) rem(5);
		// }
		.icon {
			font-size: 22px;
			fill: none;
			stroke: currentColor;
			stroke-width: 3px;
		}
	}
}
.tox .tox-toolbar__primary {
	background: none;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
	border-bottom: 1px solid $primary;
}
.tox .tox-edit-area,
.tox .tox-statusbar,
.tox:not([dir="rtl"]) .tox-toolbar__group:not(:last-of-type),
.tox .tox-menubar + .tox-toolbar,
.tox .tox-menubar + .tox-toolbar-overlord .tox-toolbar__primary,
.tox-tinymce {
	border-color: $primary !important;
}
.tox-statusbar__branding {
	display: none !important;
}

.participants-table {
	&__info-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: rem(24);
		max-width: rem(1000);
	}
	&__count {
		font-size: 13px;
		line-height: 150%;
		@include media-breakpoint-up(lg) {
			margin-right: rem(37);
		}
		margin-right: 18px;
	}
	&__file {
		display: inline-block;
		.icon {
			font-size: 24px;
			margin-right: rem(8);
			color: #25c047;
		}
		span {
			display: inline-block;
			color: #00086a;
			font-size: 13px;
			line-height: 150%;
		}
	}
	&__head {
		display: flex;
		@include media-breakpoint-down(lg) {
			width: 800px;
		}
		padding-bottom: 7px;
		border-bottom: 1px solid #a1d8f6;
	}
	&__head-title {
		font-size: 12px;
		line-height: 150%;
		&--number {
			width: rem(64);
			color: #238ece;
		}
		&--status {
			width: rem(258);
			color: rgba(#000000, 0.5);
		}
		&--participant {
			flex-grow: 1;
			max-width: calc(100% - rem(64) - rem(258));
			color: rgba(#000000, 0.5);
		}
		&--name {
			max-width: calc(100% - rem(184) - rem(184) - rem(130));
			flex-grow: 1;
			padding-right: rem(24);
		}
		&--date{
			width: rem(184);
			cursor: pointer;
		}
		&--region{
			width: rem(184);
			cursor: pointer;
		}
		.icon {
			font-size: 8px;
			color: transparent;
			margin-left: 8px;
			transition-duration: 0.4s;
			stroke: #00086a;
			border-radius: 2px;
			stroke-width: 2px;
		}
		&.active {
			.icon {
				transform: scaleY(-1);
			}
		}
	}
	// &__item {
	// 	padding-top: rem(14);
	// 	padding-bottom: rem(12);
	// 	border-bottom: 1px solid #a1d8f6;
	// 	display: flex;
	// 	@include media-breakpoint-up(lg) {
	// 		align-items: center;
	// 	}
	// 	@include media-breakpoint-down(lg) {
	// 		flex-direction: column;
	// 	}
	// }
	tr {
		padding-top: rem(14);
		padding-bottom: rem(12);
		border-bottom: 1px solid #a1d8f6;
		display: flex;
		@include media-breakpoint-up(lg) {
			align-items: center;
		}
		// @include media-breakpoint-down(lg) {
		// 	flex-direction: column;
		// }
	}
	table {
		width: 100%;
		min-width: 800px;
	}
	// &__name-wrap {
	// 	display: flex;
	// 	align-items: center;
	// 	@include media-breakpoint-up(lg) {
	// 		max-width: calc(100% - rem(258));
	// 		flex-grow: 1;
	// 	}
	// 	@include media-breakpoint-down(lg) {
	// 		margin-bottom: rem(14);
	// 	}
	// }
	&__number {
		font-size: rem(16);
		padding-right: 10px;
		line-height: 150%;
	}
	&__number-td {
		width: rem(64);
	}
	// &__number {
	// 	@include media-breakpoint-up(lg) {
	// 		width: rem(64);
	// 	}
	// 	font-size: rem(16);
	// 	padding-right: 10px;
	// 	line-height: 150%;
	// }
	&__name-td {
	}
	&__name {
		display: flex;
		align-items: center;
		max-width: calc(100% - rem(64));
		flex-grow: 1;
		max-width: calc(100% - rem(64) - rem(258));
		padding-right: rem(16);
		picture {
			width: 40px;
			min-width: 40px;
			height: 40px;
			border-radius: 4px;
			overflow: hidden;
			margin-right: rem(16);
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	// &__name {
	// 	display: flex;
	// 	align-items: center;
	// 	@include media-breakpoint-up(lg) {
	// 		flex-grow: 1;
	// 		max-width: calc(100% - rem(64));
	// 		padding-right: rem(16);
	// 	}
	// 	picture {
	// 		width: 40px;
	// 		min-width: 40px;
	// 		height: 40px;
	// 		border-radius: 4px;
	// 		overflow: hidden;
	// 		margin-right: rem(16);
	// 		img {
	// 			max-width: 100%;
	// 			max-height: 100%;
	// 		}
	// 	}
	// }
	&__name-title {
		@include media-breakpoint-up(lg) {
		}
		font-weight: 700;
		font-size: rem(16);
		line-height: 150%;
	}
	// &__status-wrap {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	// 	width: rem(258);
	// }
	&__status-td {
		width: rem(142);
	}
	&__status {
		font-weight: 700;
		border-radius: 4px;
		font-size: rem(12);
		line-height: 150%;
		display: inline-block;
		text-align: center;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 8px;
		padding-right: 8px;
		background-color: var(--status-bg);
		color: var(--status-color);
		&--received {
			--status-bg: #a0d1ef;
			--status-color: #238ece;
		}
		&--confirmed {
			--status-bg: #98ebaa;
			--status-color: #25c047;
		}
		&--cancel {
			--status-bg: #f4abad;
			--status-color: #e31e24;
		}
		&--approved {
			--status-bg: #f8d1ba;
			--status-color: #eb7329;
		}
	}
	// &__status {
	// 	font-weight: 700;
	// 	border-radius: 4px;
	// 	font-size: rem(12);
	// 	line-height: 150%;
	// 	text-align: center;
	// 	padding-top: 3px;
	// 	padding-bottom: 3px;
	// 	padding-left: 8px;
	// 	padding-right: 8px;
	// 	background-color: var(--status-bg);
	// 	color: var(--status-color);
	// 	&--received {
	// 		--status-bg: #a0d1ef;
	// 		--status-color: #238ece;
	// 	}
	// 	&--confirmed {
	// 		--status-bg: #98ebaa;
	// 		--status-color: #25c047;
	// 	}
	// 	&--cancel {
	// 		--status-bg: #f4abad;
	// 		--status-color: #e31e24;
	// 	}
	// 	&--approved {
	// 		--status-bg: #f8d1ba;
	// 		--status-color: #eb7329;
	// 	}
	// }
	&__show-link {
		font-size: rem(13);
		line-height: 150%;
		text-align: right;
	}
	&__show-link-td {
	}
}

.participant-app {
	max-width: 900px;
	.row {
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(40)};
			--bs-gutter-y: #{rem(16)};
			margin-bottom: rem(16);
		}
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(12)};
		margin-bottom: rem(12);
	}
	.form-control {
		background-color: #ecf8ff;
	}
	.form-select {
		color: #000000;
		font-weight: 400;
	}
	&__btn-wrap {
		display: flex;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
		flex-direction: column;
	}
	&__cancel,
	&__save {
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
	}
	&__cancel {
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			margin-right: rem(16);
		}
		margin-bottom: rem(16);
	}
}
.event-account {
	&__wrap {
		display: flex;
		@include media-breakpoint-up(xl) {
			justify-content: space-between;
			flex-direction: row;
		}
		flex-direction: column;
		align-items: flex-start;
	}
	&__info-wrap {
		display: flex;
		@include media-breakpoint-up(xl) {
			flex-direction: row;
			padding-right: rem(24);
			padding-bottom: 0;
			width: auto;
		}
		width: 100%;
		padding-bottom: rem(24);
		flex-direction: column;
	}
	picture {
		width: rem(168);
		min-width: rem(168);
		height: rem(184);
		border-radius: 4px;
		overflow: hidden;
		@include media-breakpoint-up(xl) {
			margin-right: rem(40);
			margin-bottom: 0;
		}
		margin-bottom: rem(24);
	}
	&__info {
	}
	&__points {
		min-width: rem(80);
		height: rem(80);
		background-color: #ecf8ff;
		border-radius: 4px;
		text-align: center;
		padding: rem(13);
		span {
			font-size: rem(13);
			line-height: 150%;
			color: #000000;
		}
	}
	&__points-count {
		font-weight: 700;
		font-size: rem(32);
		color: $primary;
		line-height: calc(37 / 32);
	}
	&__info-string {
		display: flex;
		padding-top: rem(12);
		padding-bottom: rem(12);
		border-bottom: 1px solid #a1d8f6;
		flex-direction: column;
		width: 100%;
		@include media-breakpoint-up(xl) {
			width: rem(688);
			max-width: 100%;
			flex-direction: row;
		}
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-color: transparent;
		}
	}
	&__info-title {
		@include media-breakpoint-up(xl) {
			width: rem(190);
			padding-right: rem(12);
			padding-bottom: 0;
		}
		padding-bottom: rem(16);
		font-size: rem(13);
		line-height: 150%;
	}
	&__date {
		font-size: rem(13);
		line-height: 150%;
	}
	&__points-btn {
		margin-top: rem(20);
	}
	&__loc,
	&__tel,
	&__mail {
		padding-left: rem(24);
		font-size: rem(13);
		line-height: 150%;
		margin-bottom: 0;
		position: relative;
		&::before {
			content: "";
			background-repeat: no-repeat;
			background-size: contain;
			height: rem(16);
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: rem(16);
		}
	}
	&__loc {
		&::before {
			background-image: url("../img/svg/loc-point.svg");
		}
	}
	&__tel {
		color: $body-color;
		&::before {
			background-image: url("../img/svg/tel-icon.svg");
		}
	}
	&__mail {
		&::before {
			background-image: url("../img/svg/mail-icon.svg");
		}
	}
	&__study {
		font-size: rem(13);
		line-height: 150%;
	}
	.soc {
	}
}
