mixin sAboutIdentity(data)
	// start sAboutIdentity
	+b.SECTION.sAboutIdentity.section#sAboutIdentity&attributes(attributes)
		h2 Айдентика
		+document-item(`Положение о символике ВСКС`,`pdf`,`Корпус принимает участие в единой государственной политике в области предупреждения и ликвидации ЧС, обусловленных авариями, катастрофами, стихийными и иными бедствиями`)
		+document-item(`Брендбук`,`pdf`)
		+document-item(`Положение о форме одежды ВСКС`,`pdf`,`Корпус принимает участие в единой государственной политике `)
	// end sAboutIdentity

mixin sAboutReports(data)
	// start sAboutReports
	+b.SECTION.sAboutReports.section#sAboutReports&attributes(attributes)
		h2 Отчеты о деятельности
		+document-item(`Отчет о деятельности ВСКС за 2019г.`,`pdf`,`Корпус принимает участие в единой государственной политике в области предупреждения и ликвидации ЧС, обусловленных авариями, катастрофами, стихийными и иными бедствиями`)
		+document-item(`Отчет о деятельности ВСКС за 2020г.`,`pdf`,`Корпус принимает участие в единой государственной политике в области предупреждения и ликвидации ЧС, обусловленных авариями, катастрофами, стихийными и иными бедствиями`)