// start .sAboutIdentity
.sAboutIdentity,
.sAboutReports {
	--sPT: 0;
	// --sPB: ;
	// --sTPB: ;
	h2 {
		margin-bottom: rem(29);
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAboutIdentity

.sAboutLogos {
	--sPT: 0;
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(120)};
	}
	h2 {
		margin-bottom: rem(47);
	}
	.row {
		--bs-gutter-x: #{rem(40)};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__item {
		// padding: rem(5);
		picture {
			max-height: rem(118);
			text-align: center;
			img {
				max-height: 100%;
			}
		}
		&-caption {
			font-size: rem(13);
			line-height: 150%;
			color: rgba(black, 0.5);
			padding-top: rem(24);
			text-align: center;
		}
		a {
			line-height: 150%;
			font-size: rem(12);
			padding-top: rem(8);
			text-align: center;
			display: block;
		}
	}
}

.sAboutVideos {
	--sPT: 0;
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(120)};
	}
	h2 {
		margin-bottom: rem(51);
	}
	&__item {
		margin-bottom: rem(47);
		a {
			cursor: pointer;
			position: relative;
			display: block;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				background-color: rgba(black, 0.4);
				@include mt;
			}
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 39px;
				height: 47px;
				background-image: url("../img/svg/video-play.svg");
				z-index: 3;
			}
			&:hover {
				&::after {
					background-color: rgba(black, 0.6);
				}
			}
		}
		picture {
			width: 100%;
			@include block(792, 446);
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-caption {
			display: flex;
			padding-top: rem(24);
		}
		&-text {
			font-weight: bold;
			line-height: 150%;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-ms-box-orient: vertical;
			box-orient: vertical;
			-webkit-line-clamp: var(--clamp, 4);
				-moz-line-clamp: var(--clamp, 4);
				-ms-line-clamp: var(--clamp, 4);
				line-clamp: var(--clamp, 4);
			@include media-breakpoint-up(md) {
				-webkit-line-clamp: var(--clamp, 3);
				-moz-line-clamp: var(--clamp, 3);
				-ms-line-clamp: var(--clamp, 3);
				line-clamp: var(--clamp, 3);
			}
			overflow: hidden;
			position: relative;
		}
		&-date {
			padding-left: rem(30);
			padding-top: rem(3);
			color: rgba(black, 0.5);
			font-size: rem(13);
		}
	}
	.show-more {
		@extend .btn, .btn-outline-primary;
		width: rem(141);
		&:hover {
			color: $white;
		}
	}
}
