.main-page {
	.top-nav {
		background: $light-blue;
		padding: rem(12) 0;
		@include media-breakpoint-up(lg) {
			padding: rem(31) 0;
		}

		&__sub-row {
			@include media-breakpoint-up(xxl) {
				--bs-gutter-x: #{rem(42)};
			}

			padding-bottom: rem(32);
		}
		&__logo {
			display: block;
			width: 60px;
			@include media-breakpoint-up(lg) {
				width: rem(138);
			}

			img {
				max-width: 100%;
				width: auto;
			}
		}
	}
}

.top-nav {
	@include media-breakpoint-up(sm) {
		.row{
			--bs-gutter-x: 10px;
		}
	}
	@include media-breakpoint-up(lg) {
		padding-top: rem(17);
	}
	&__main-row {
	}
	&__col {
		&--content {
			@include media-breakpoint-up(xxl) {
				padding-left: calc(var(--bs-gutter-x) / 2 + 11px);
			}
		}
		&--profile{
			@include media-breakpoint-up(lg){
				padding-right: rem(12);
			}
			.login-bl__txt{
				margin-left: rem(32);
			}
		}
	}
	&__logo {
		display: block;
		width: 60px;
		@include media-breakpoint-up(lg) {
			width: rem(48);
			margin-right: rem(30);
		}

		img {
			max-width: 100%;
			width: auto;
		}
	}

	.menu {
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		list-style: none;

		& > .menu-item {
			margin-right: rem(20);
			@include media-breakpoint-up(xl) {
				margin-right: rem(38);
			}
			&:last-child {
				margin-right: 0;
			}

			& > a {
				font-weight: bold;

				color: $body-color;
				&:hover {
					color: $blue;
				}
			}

			.closed {
				@extend .btn, .btn-danger;
				padding: 1px rem(7);
			}

			// &:last-child {
			// 	& > a {
			// 		@extend .btn;
			// 		@extend .btn-danger;
			// 		padding: 1px rem(7);
			// 	}
			// }
		}
		.menu-item-has-children {
			position: relative;

			&:hover {
				--sb-o: 1;
				--sb-scale: 1;
			}
		}
	}

	.sub-menu {
		transform-origin: top left;
		@include mt();
		transform: scale(var(--sb-scale, 0));
		opacity: var(--sb-o, 0);

		--sb-shift: 12px;
		list-style: none;
		margin: 0;
		padding: 1px 0 0 0;
		box-shadow: 0px 23px 38px rgba(0, 159, 226, 0.15);
		background-color: $white;
		border-radius: 4px;

		top: calc(100% + var(--sb-shift, 9px));
		left: 0;
		width: auto;
		min-width: 144px;
		position: absolute;
		z-index: 10;
		&:before {
			content: "";
			position: absolute;
			bottom: 100%;
			width: 100%;
			height: var(--sb-shift, 9px);
		}
		&:after {
			content: "";
			position: absolute;
			transform: rotate(45deg) translateY(-50%);
			top: 0;
			left: 8px;
			width: 7px;
			height: 7px;
			background-color: $white;
		}

		.menu-item {
			a {
				display: block;
				white-space: nowrap;
				padding: rem(9) rem(16);
				font-size: 13px;

				color: $body-color;
				&:hover {
					color: $primary;
				}
			}

			border-bottom: 1px solid $light-blue;
			&:last-child {
				border-bottom: none;
			}
		}
	}

	//-
	&__title {
		max-width: 900px;

		h1 {
			font-weight: 900;

			@include media-breakpoint-up(xxl) {
				font-size: rem(52);
			}

			line-height: calc(57 / 52);
		}
	}
	&__ {
	}
	&__ {
	}
}

//-
.login-bl {
	display: flex;
	align-items: center;

	color: $primary;
	&:hover {
		color: $black;
	}

	&__img {
		flex-shrink: 0;
		width: rem(16);
		height: rem(16);
		border-radius: 2px;
		overflow: hidden;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__txt {
		margin-left: rem(16);
		font-weight: bold;
	}
}

.reg-btn {
	@extend .btn;
	@extend .btn-warning;
}
.exit-btn {
	// @extend .btn;
	color: black;
	.icon{

		font-size: 1rem;
	}
	// @include media-breakpoint-up(lg){
		position: relative;
		top: -2px;
	// }
}