extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAboutPressKit/_sAboutPressKit.pug

block variables
	- let  mainPage= 'page-white-bg' 
	- let  bg="03-about-presskit-identity.jpg"

block title
	- let  title= 'Отчеты о деятельности'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		//-+topLine()
	//- +headerBlock()
	+pageHead('О ВСКС')
	+pageBody(`about`,3)
		+sAboutReports()
	//+sForm()
	//+sContact()
	+footer()