extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAboutOrg/_sAboutOrg.pug

block variables
	- let  mainPage= 'page-white-bg' 
	- let  bg="03-about-organisation-leader.jpg"

block title
	- let  title= 'Руководство'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		//-+topLine()
	//- +headerBlock()
	+pageHead('О ВСКС')
	+pageBody(`about`,1)
		+sAboutOrgLeader()
	//+sForm()
	//+sContact()
	+footer()