extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDetailedNews/_sDetailedNews.pug
//- include ../blocks/sPromo/_sPromo.pug
//- include ../blocks/sMap/_sMap.pug
//- include ../blocks/sStat/_sStat.pug
//- include ../blocks/sEvents/_sEvents.pug
//- include ../blocks/sBecome/_sBecome.pug
//- include ../blocks/sHero/_sHero.pug
//- include ../blocks/sPartners/_sPartners.pug

block variables
	- let  mainPage= '' 
	- let  bg= null

block title
	- let  title= 'Новость'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		//-+topLine()
	//- +headerBlock()
	+pageHead(`Главное управление сообщает о&nbsp;лесопожарной обстановке на&nbsp;территории Краснодарского края Президент Российской Федерации`,'back')
		.date-n-location
			p 19&nbsp;августа 2021&nbsp;в 21:00
			p.loc Республика Удмуртия
	+sContent()
	//- +sPromo()
	//- +sMap()
	//- +sStat()
	//- +sEvents()
	//- +sEvents2()
	//- +sBecome()
	//- +sHero()
	//- +sPartners()
	//- +sForm()
	//- +sContact()
	+footer()