extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sActivities/_sActivities.pug
//- include ../blocks/sPromo/_sPromo.pug
//- include ../blocks/sMap/_sMap.pug
//- include ../blocks/sStat/_sStat.pug
//- include ../blocks/sEvents/_sEvents.pug
//- include ../blocks/sBecome/_sBecome.pug
//- include ../blocks/sHero/_sHero.pug
include ../blocks/sTicketRequest/_sTicketRequest.pug
include ../blocks/sCabinetBody/_sCabinetBody.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= 'cabinet'
	- let  bg= null

block title
	- let  title= 'Личный кабинет'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		//-+topLine()
	//- +headerBlock()
	+pageHead-cabinet()
		+nav-cabinet()
	+sCabinetBodyTabsNews
		mixin newscard(t,c,moderation)
			+b.cabinetCard--news
				+e.row.row
					.col-lg-auto
						a(href="#") 
							+pic("about-videos-2.jpg",'bg',0)
					.col
						.row.small.gx-3.gy-2.mb-3
							.col-auto.text-secondary 19.08.21
							.col-auto.strong(style=`color: ${c}`)= t
								if moderation
									p.loc Владимирская область
						.mb-4
							a.text-body.strong(href="#")  Главное управление сообщает о лесопожарной обстановке на территории Краснодарского края Президент Российской Федерации, главы зарубежных стран, государственные деятели,
						.row.g-3
							.col-auto
								a.btn.btn-outline-warning(href="#") Удалить
							block
		.tabs__wrap
			.tabs__content.active
				+b.btn-add(type="button").btn-outline-primary 
					+icon("plus")
					| Создать новость
				

				+newscard('Опубликована', '#25C047')
					.col-auto
						a.btn.btn-outline-warning(href="#") Снять с публикации
					.col-auto
						a.btn.btn-warning(href="#") Редактировать
				+newscard('Неопубликована','#E31E24')
					.col-auto
						a.btn.btn-warning(href="#") Редактировать
					.col-auto
						a.btn.btn-primary(href="#") Опубликовать
				+newscard('На модерации','#EB7329',`moderation`)
					.col-auto
						a.btn.btn-warning(href="#") Редактировать
					.col-auto
						a.btn.btn-primary(href="#") Опубликовать

			.tabs__content
				+b.btn-add(type="button").btn-outline-primary 
					+icon("plus")
					| Создать новость
				

				+newscard('На модерации','#EB7329',`moderation`)
					.col-auto
						a.btn.btn-warning(href="#") Редактировать
					.col-auto
						a.btn.btn-primary(href="#") Опубликовать
			.tabs__content
				+b.btn-add(type="button").btn-outline-primary 
					+icon("plus")
					| Создать новость
				+newscard('Опубликована', '#25C047')
					.col-auto
						a.btn.btn-outline-warning(href="#") Снять с публикации
					.col-auto
						a.btn.btn-warning(href="#") Редактировать
		//- +b.btn-add(type="button").btn-outline-primary 
		//- 	+icon("plus")
		//- 	| Создать новость
		//- mixin newscard(t,c)
		//- 	+b.cabinetCard--news
		//- 		+e.row.row
		//- 			.col-lg-auto
		//- 				a(href="#") 
		//- 					+pic("about-videos-2.jpg",'bg',0)
		//- 			.col
		//- 				.row.small.gx-3.gy-2.mb-3
		//- 					.col-auto.text-secondary 19.08.21
		//- 					.col-auto.strong(style=`color: ${c}`)= t
		//- 				.mb-4
		//- 					a.text-body.strong(href="#")  Главное управление сообщает о лесопожарной обстановке на территории Краснодарского края Президент Российской Федерации, главы зарубежных стран, государственные деятели,
		//- 				.row.g-3
		//- 					.col-auto
		//- 						a.btn.btn-outline-warning(href="#") Удалить
		//- 					block

		//- +newscard('Опубликована', '#25C047')
		//- 	.col-auto
		//- 		a.btn.btn-outline-warning(href="#") Снять с публикации
		//- 	.col-auto
		//- 		a.btn.btn-warning(href="#") Редактировать
		//- +newscard('Неопубликована','#E31E24')
		//- 	.col-auto
		//- 		a.btn.btn-warning(href="#") Редактировать
		//- 	.col-auto
		//- 		a.btn.btn-primary(href="#") Опубликовать


	+footer()