mixin sAboutOrgHistory(data)
	// start sAboutOrgHistory
	+b.SECTION.sAboutOrg.section#sAboutOrgHistory&attributes(attributes)
		h2 История
		+e.aboutSwiper--js.swiper
			.swiper-wrapper.bg-wrap
				- for (var x = 0; x < 4; x++)
					.swiper-slide
						+pic('about-slider-1.png','bg',0)
					.swiper-slide
						+pic('about-slider-2.png','bg',0)
			.swiper-pagination
		+e.content
			h4 Всероссийский студенческий корпус спасателей – одна из крупнейших студенческих добровольческих организаций в Российской Федерации. Образована в 2001 году. В состав ВСКС входит свыше 8000 добровольцев из 72 субъектов Российской Федерации. Все студенты-спасатели проходят специальную подготовку для оказания квалифицированной помощи специальным службам при возникновении чрезвычайных ситуаций, а также для регулярной информационной и профилактической работы с населением в области культуры безопасности. Занятия проходят на базе Всероссийского центра координации, подготовки и переподготовки студенческих добровольных спасательных формирований РТУ МИРЭА, а также на базе региональных отделений ВСКС.
			p Корпус принимает участие в единой государственной политике в области предупреждения и ликвидации ЧС, обусловленных авариями, катастрофами, стихийными и иными бедствиями; осуществляет гражданское и патриотическое воспитание молодежи России; оказывает содействие правительству в решении основных задач государственной молодежной политики.
			p За годы непростой ежедневной работы Всероссийский студенческий корпус спасателей получил признание во многих подразделениях МЧС России, зарекомендовал себя как востребованная временем структура.
			p Сегодня ВСКС – это всероссийская команда спасения, которая проводит спасательные операции, принимает участие в ликвидации крупных ЧС федерального масштаба, проектах МЧС, молодёжных форумах и соревнованиях. Мы также обеспечиваем безопасность на мероприятиях различного уровня и обучаем людей, как правильно действовать при возникновении чрезвычайных ситуаций.
	// end sAboutOrgHistory

mixin sAboutOrgLeader(data)
	+b.SECTION.sAboutOrgLeader.section#sAboutOrgLeader&attributes(attributes)
		h2 Руководство
		mixin leader(i,n,j)
			+e.leader
				.row
					.col-sm-3
						+pic(`sAboutOrgLeader-${i}.png`,'',0)
						+e.leader-name!=n
						+e.leader-job!=j
					.col-sm-9
						mixin item(c)
							+e.date
								+e.date-year 2019&nbsp;г.
								+e.date-caption!=c
						+item(`участие в ликвидации медико-санитарных последствий чрезвычайной ситуации, вызванной резким подъемом уровня воды в реках Краснодарского края.`)
						+item(`подписание обновленного соглашения с МЧС России и разработка плана&nbsp;его&nbsp;реализации.`)
						+item(`участие в ликвидации последствий чрезвычайной ситуации в Шахтах.`)
						+item(`участие в ликвидации последствий степных пожаров в Забайкальском крае.`)
						+item(`участие в ликвидации последствий наводнения в Иркутской области.`)
						+item(`участие в тушении и ликвидация последствий лесных пожаров в Красноярском крае.`)
						+item(`обеспечение безопасности участников и гостей Фестиваля творческих сообществ «Таврида-АРТ».`)
						+item(`участие во Всероссийской акции «Сохраним лес!».`)
						+item(`обеспечение безопасности участников Международного форума добровольцев.`)
						+item(`подписание соглашения с Ассоциацией волонтерских центров.`)
						+item(`участие в тушении пожаров и ликвидации их последствий в Забайкальском крае и Ростовской области.`)
						+item(`участие в ликвидации последствий подтоплений в Московской области и городе Нижние Серьги Свердловской области.`)
						+item(`участие в ликвидации последствий взрывов на складах боеприпасов в Рязанской области.`)
						+item(`участие в тушении пожаров и ликвидации их последствий в Тюменской области.`)
						+item(`участие в ликвидации последствий пожаров в Иркутской области.`)
						+item(`участие в ликвидации последствий подтоплений в Республике Крым.`)
		+leader(1,`Козеев<br>Евгений<br>Викторович`,`Руководитель ВСКС с&nbsp;2018&nbsp;-&nbsp;по настоящее время`)
		+leader(2,`Аветисов<br>Алексей<br>Сергеевич`,`Руководитель ВСКС с&nbsp;2013&nbsp;по 2018 год`)
		+leader(3,`Куранов<br>Вячеслав<br>Викторович`,`Руководитель ВСКС с&nbsp;2007&nbsp;по 2013 год`)
		+leader(4,`Линейцев<br>Евгений<br>Геннадьевич`,`Руководитель ВСКС с&nbsp;2001&nbsp;по 2007 год`)



mixin sAboutOrgIspolkom(data)
	+b.SECTION.sAboutOrg--ispolkom.section#sAboutOrgIspolkom&attributes(attributes)
		.container 
			h1 О ВСКС
			.row
				.col-lg-4.col-12
					ul
						li
							p.active Об организации
							ul
								li
									p История
								li
									p Руководство
								li
									p.active Исполком
								li
									p Достижения
								li
									p Добровольцы
								li
									p Партнеры
						li
							p Документы
						li
							p Пресс-кит
				.col-lg-8.col-12
					h2 Исполком
					.row
						mixin item(i,n,c)
							.col-md-3.col-6
								+pic(`ispolkom-${i}`,'',0)
								+e.name!=n
								if c
									+e.city!=c
						+item(1,`Козеев<br>Евгений<br>Николаевич`)
						+item(2,`Потапова<br>Наталья<br>Сергеевна`,`Москва`)
						+item(3,`Маркодеева<br>Анастасия<br>Олеговна`,`Москва`)
						+item(4,`Логвинов<br>Олег<br>Александрович`,`Москва`)
						+item(5,`Андреев<br>Алексей<br>Евгеньевич`)
						+item(6,`Колодкин<br>Андрей<br>Андреевич`,`Краснодарский край`)
						+item(7,`Караев<br>Роман<br>Юрьевич`,`Северная Осетия`)
						+item(8,`Карасёв<br>Роман<br>Евгеньевич`,`Ростовская область`)
						+item(9,`Тлеубаев<br>Ильяс<br>Жумагалиевич`,`Свердловская область`)
						+item(10,`Миндрулев<br>Яков<br>Александрович`,`Иркутская область`)