// start .sMap
.sMap {
	background: $light-blue;

	--sPT: #{rem(30)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(40)};
		--sPB: #{rem(75)};
		--sTPB: #{rem(35)};
	}

	.section-title{
		h2{
			color: $primary;
		}
	}
	// &__map{
	// 	@include media-breakpoint-down(md){
	// 		position: relative;
	// 		width: 100vw;
	// 		left: calc((100vw - 100%) / -2);
	// 	}
	// 	height: rem(400);
	// 	@include media-breakpoint-up(lg){
	// 		height: rem(582);
	// 	}
	// 	background-color: $primary;
	// }
	&__{}
	&__{}
	&__{}

	&__map {
		position: relative;
		display: grid;
		place-items: center;
		padding-top: rem(40);
		padding-bottom: rem(40);
		background-color: rgba($color: #fff, $alpha: 0.15);
		margin-bottom: rem(43);
		border-radius: $border-radius;

		svg {
			max-height: rem(530);
		}
	}
	path{
		@include mt;
		&:focus {
			outline: none;
		}
	}
	polygon, .js-show-area, .area-pink, .area-yellow, .area-red, .area-pink, .area-yellow, .area-red, .area-red, .area-blue {
		fill: #238ECE;
		@include mt;
		outline: none !important;


		&:hover, &:focus, &:active {
			fill: #EB7329;
		}
	}
	mask {
		&[maskUnits="userSpaceOnUse"] {
			display: none;
		}
	}
	a{
		path{
			cursor: pointer;
		}
		position: relative;

	}
	a:hover{
		path{
			fill: #EB7329;
			opacity: 1;
			
		}
	}

	a.popover-toggle:focus {
		outline: none;
	}

	.area-white {
		fill: #fff;
	}
} // end.sMap

.yandex{

	//-
	&__title{
		font-weight: bold;
		font-size: rem(14);
		color: $primary;
		margin-bottom: rem(7);
	}
	&__body{
		font-weight: bold;
		font-size: 12px;
		margin-bottom: rem(14);
	}
	&__name{
		font-weight: bold;
	}
	&__tel{
		color: $black;
		display: block;
	}
	&__mail{
		color: $primary;
		display: block;
	}
	//
	&__data-box{
		font-size: rem(12);
	}
	&__data-row{
		--bs-gutter-x: #{rem(30)};
		padding-bottom: rem(5);
		&:last-child{
			padding-bottom: 0;
		}
	}
	&__d-key{

	}
	&__d-val{
		font-weight: bold;
	}
	&__data-row{}
	&__d-key{}
	&__d-val{}
	&__{}
	&__{}
}