// start .sMap
.sMap {
  position: relative;
  background: $light-blue;

  --sPT: #{rem(30)};
  --sPB: #{rem(20)};
  --sTPB: #{rem(30)};
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(40)};
    --sPB: #{rem(75)};
    --sTPB: #{rem(35)};
  }

  .section-title {
    h2 {
      color: $primary;
    }
  }
  &__map {
    position: relative;
  }
  &__ {
  }
  &__ {
  }
  &__ {
  }
  .panzoom {
    overflow: hidden;
    position: relative;
    &__controls {
      position: absolute;
      top: 10px;
      left: 10px;
      @include media-breakpoint-up(sm) {
        // top: 43px;/
        // left: 33px;
        // box-shadow: 0px 3px 37px rgba(82, 82, 82, 0.27);
        // padding: rem(16);
        border-radius: 10px;

        box-shadow: 0 1px 5px rgba(82, 82, 82, 0.27);
        left: 6px;
        padding: 0.5rem;
        top: 2px;
      }

      @include roww("8px", "m");
      display: flex;
      align-items: center;
      padding: rem(8);
      background-color: #fff;
      border-radius: 6px;
      &:before {
        content: "Масштаб";
        font-size: 16px;
        font-weight: 700;
        margin-right: 18px;
        color: #000;
      }
    }
    &__button {
      position: relative;
      border: none;
      background-color: #a1d8f6;
      border-radius: 4px;
      width: 16px;
      height: 16px;
      @include media-breakpoint-up(sm) {
        width: 32px;
        height: 32px;
      }
      svg {
        display: none;
      }
      &:before {
        @include a-cent();
        content: "";
        position: absolute;
        display: block;
        width: 8px;
        height: 2px;
        background-color: $blue;
        @include media-breakpoint-up(sm) {
          width: 16px;
        }
      }
      // &--zoomIn {
      // 	order: 2;
      // 	&::after {
      // 		@include a-cent();
      // 		content: '';
      // 		position: absolute;
      // 		display: block;
      // 		width: 8px;
      // 		height: 2px;
      // 		background-color: $blue;
      // 		transform: rotate(90deg);
      // 		@include media-breakpoint-up(sm) {
      // 			width: 16px;
      // 		}
      // 	}
      // }
      // &--zoomOut {
      // 	order: 1;
      // }
    }
  }
  // &__map {
  // 	position: relative;
  // 	display: grid;
  // 	place-items: center;
  // 	padding-top: rem(40);
  // 	padding-bottom: rem(40);
  // 	background-color: rgba($color: #fff, $alpha: 0.15);
  // 	margin-bottom: rem(43);
  // 	border-radius: $border-radius;

  // 	svg {
  // 		max-height: rem(530);
  // 	}
  // }
  path {
    @include mt;
    &:focus {
      outline: none;
    }
  }
  polygon,
  .js-show-area,
  .area-pink,
  .area-yellow,
  .area-red,
  .area-pink,
  .area-yellow,
  .area-red,
  .area-red,
  .area-blue {
    fill: #238ece;
    @include mt;
    outline: none !important;

    // &:hover, &:focus, &:active {
    // 	fill: #EB7329;
    // }
  }
  mask {
    &[maskUnits="userSpaceOnUse"] {
      display: none;
    }
  }
  a {
    cursor: default;
    path {
      cursor: default;
    }
    &[data-title] {
      cursor: pointer;
      path {
        cursor: pointer;
      }
    }
    position: relative;
  }
  a.hovered,
  a:hover {
    &[data-title] {
      path {
        // fill: #A1D8F6;
        fill: #eb7329;
        opacity: 1;
      }
    }
  }

  a.popover-toggle:focus {
    outline: none;
  }

  .area-white {
    fill: #fff;
  }
  &__popover {
    padding: rem(8) rem(18) rem(8) rem(8);
    border: none;
    box-shadow: 0px 23px 38px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }
  &__title {
    font-size: rem(14);
    font-weight: 700;
    color: $blue;
    margin-bottom: rem(7);
  }
  &__name,
  &__number,
  &__email {
    font-size: rem(12);
    display: block;
  }
  &__name {
    font-weight: 700;
    color: #000;
    margin-bottom: rem(3);
  }
  &__number {
    color: #000;
    margin-bottom: rem(3);
  }
  &__email {
    color: $blue;
  }
  &__dots {
  }
  &__dot {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $orange;
    top: 0;
    left: 0;
    pointer-events: none;
    &:nth-child(1) {
      left: 15.7%;
      top: 28.9%;
    }
    &:nth-child(2) {
      left: 16.7%;
      top: 38.3%;
    }
    &:nth-child(3) {
      left: 13.6%;
      top: 40.6%;
    }
    &:nth-child(4) {
      left: 11.8%;
      top: 44.8%;
    }
    &:nth-child(5) {
      left: 17%;
      top: 43.3%;
    }
    &:nth-child(6) {
      left: 17.2%;
      top: 47.7%;
    }
    &:nth-child(7) {
      left: 7.6%;
      top: 62.8%;
    }
    &:nth-child(8) {
      left: 3.6%;
      top: 63%;
    }
    &:nth-child(9) {
      left: 6.4%;
      top: 69%;
    }
    &:nth-child(10) {
      left: 30.1%;
      top: 56%;
    }
    &:nth-child(11) {
      left: 51.6%;
      top: 66%;
    }
    &:nth-child(12) {
      left: 51.6%;
      top: 88.2%;
    }
    &:nth-child(13) {
      left: 74%;
      top: 64.8%;
    }
    &:nth-child(14) {
      left: 86%;
      top: 75.8%;
    }
  }

  &__star-item {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    display: inline-block;
    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    &--msk {
      left: 14%;
      top: 45.2%;
    }
    &--spb {
      left: 15.5%;
      top: 30%;
    }
    &--sev {
      left: 0.5%;
      top: 57.4%;
    }
  }
} // end.sMap

.yandex {
  //-
  &__title {
    font-weight: bold;
    font-size: rem(14);
    color: $primary;
    margin-bottom: rem(7);
  }
  &__body {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: rem(14);
  }
  &__name {
    font-weight: bold;
  }
  &__tel {
    color: $black;
    display: block;
  }
  &__mail {
    color: $primary;
    display: block;
  }
  //
  &__data-box {
    font-size: rem(12);
  }
  &__data-row {
    --bs-gutter-x: #{rem(30)};
    padding-bottom: rem(5);
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__d-key {
  }
  &__d-val {
    font-weight: bold;
  }
  &__data-row {
  }
  &__d-key {
  }
  &__d-val {
  }
  &__ {
  }
  &__ {
  }
}
