//- WP menu
mixin mnu()
	-
		var nav= { 
			"О ВСКС":"#",
			"Пресс-центр":"#",
			"Мероприятия":"#",
			"Контакты":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName
		li.menu-item
			a.closed(href="#" itemprop="url") Набор на ЧС

//- menu