//- WP menu
mixin mnu()
	-
		var nav= { 
			"Пресс-центр":"#",
			"Мероприятия":"#",
			"Контакты":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item(itemprop="item" ).menu-item-has-children
			a(href='#' itemprop="url") О ВСКС
			ul.sub-menu
				li.menu-item(itemprop='item')
					a(href='/about/organization/' itemprop='url')
						| Об организации
				li.menu-item(itemprop='item')
					a(href='/about/docs/' itemprop='url')
						| Документы
				li.menu-item(itemprop='item')
					a(href='/about/presskit/' itemprop='url')
						| Пресс-кит
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" )
				a(href= linkPatch itemprop="url")= linkName
		li.menu-item
			a.closed(href="#" itemprop="url") Набор на ЧС

//- menu